@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --bg_dark_blue: #4247C9;
  --bg_light_blue: #a7aafc;
}

.btn-primary,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--bg_dark_blue) !important;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
  background-color: var(--bg_dark_blue) !important;
}

input:focus, select:focus, option, textarea:focus {
  outline:  none !important;
  box-shadow: 0 0 0.5px 3px var(--bg_light_blue)  !important;
}


.main-nav .nav-item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.main-nav .nav-item a {
  color: rgb(0, 0, 0) !important;
  float: left;
  padding: 5px 15px !important;
  font-weight: 600;
}

.main-nav .nav-item a:hover {
  background-color: var(--bg_dark_blue);
  border-radius: 5px;
  color: white !important;
}

.main-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.main-nav .dropdown-menu {
  margin-top: 35px;
  z-index: 100;
  background-color: #fff !important;
  width: max-content;
  border: none;
}

.main-nav .dropdown-menu a:hover {
  border: none;
  background-color: var(--bg_dark_blue);
}

.main-nav .raise-btn :hover,
.main-nav .nav-item .raise-btn :hover {
  background-color: var(--bg_dark_blue);
  box-shadow: 0px 0px 3px var(--bg_dark_blue), 0px 0px 3px var(--bg_dark_blue);
  border: 1px solid var(--bg_dark_blue);
  transition: 0.4s !important;
}

.main-nav .nav-item .raise-btn {
  border-color: var(--bg_light_blue);
  background-color: var(--bg_light_blue);
}

.fontawesome .fas {
  width: 100% !important;
  font-size: 150px;
  text-align: center;
  background-color: rgb(108, 109, 108);
  padding: 20px 10px;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media (min-width: 993px) {
  body {
    overflow-x: hidden;
  }

  .main-nav .dropdown-menu {
    margin-left: -30px !important;
  }

  .main-nav .nav-item {
    padding-right: 10px;
  }

  .main-nav .navbar-brand img {
    /*width: 200px !important;*/
    height: 45px;
  }

}


.main-nav .navbar-brand img {
  /*width: 200px !important;*/
  height: 35px;
}


nav {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

nav .bg-light,
.navbar-light {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  background-color: #fffefe !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
  /*border-bottom:1px solid grey;*/
}

footer .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

#searchModal ul {
  list-style: none;
}

#searchModal a {
  /*list-style: none;*/
  text-decoration: none;
}

#searchModal a:hover {
  /*list-style: none;*/
  color: var(--bg_dark_blue);
  text-decoration: underline;
}

@media(max-width: 500px) {
  .search_result {
    padding-top: 5px;
  }

  #searchModal a {
    padding: 0 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  #searchModal hr {
    margin: 5px 0;
  }
}

.search {
  cursor: pointer;
}


.Short {
  width: 100%;
  background-color: #dc3545;
  margin-top: 5px;
  height: 3px;
  color: #dc3545;
  font-weight: 500;
  font-size: 16px;
}

.Weak {
  width: 100%;
  background-color: #ffc107;
  margin-top: 5px;
  height: 3px;
  color: #ffc107;
  font-weight: 500;
  font-size: 16px;
}

.Good {
  width: 100%;
  background-color: #28a745;
  margin-top: 5px;
  height: 3px;
  color: #28a745;
  font-weight: 500;
  font-size: 16px;
}

.Strong {
  width: 100%;
  background-color: #d39e00;
  margin-top: 5px;
  height: 3px;
  color: #d39e00;
  font-weight: 500;
  font-size: 16px;
}